* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  --green-color: rgb(23, 138, 39);
  --blue-color: rgb(22, 134, 193);
  --red-color: rgb(133, 36, 6);
  --gray-color: rgb(102, 102, 102);
}

a {
  text-decoration: none;
}

nav {
  height: 78px;
  width: 100%;
  background-color: rgb(56, 62, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-list {
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

.nav-item {
  list-style: none;
  margin: auto;
  display: inline-block;
  padding: 10px 10px;
}

.nav-item a {
  padding: 15px 25px;
  border: 1px solid rgb(100, 109, 124);
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  vertical-align: center;
  line-height: 55px;
  font-size: 1.25rem;
}

.nav-item a:hover {
  background-color: rgb(73, 80, 95);
}

main {
  margin-top: 78px;
}

#section1 {
  height: 535px;
  overflow: hidden;
}

header .background-image {
  margin: -5px -5px;
  color: white;
  background-image: url("../images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
  filter: blur(3px);
  /*-webkit-filter: blur(3px);*/
  height: 545px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  position: absolute;
  top: calc(78px + 230px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

header .container .header-title {
  text-transform: uppercase;
  font-size: 4em;
  /*font-weight: 900;*/
}

header .container .header-description {
  text-transform: capitalize;
  font-size: 1.5em;
  /*font-weight: 100;*/
}

.card-grid {
  width: 1170px;
  margin: 60px auto;
}

.card-grid .card-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.card {
  position: relative;
  margin: 0 15px;
  min-height: 450px;
  background-color: rgb(242, 242, 242);
}

.columns-1 .card {
  flex: 1 100%;
}

.columns-2 .card {
  flex: 1 35%;
}

.columns-3 .card {
  flex: 1 30%;
}

.columns-4 .card {
  flex: 1 20%;
}

.card-cover {
  height: 40%;
  background-color: yellow;
}
.card-cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-text h2,
.card-text p {
  margin: 20px 20px;
}

.card-text h2 {
  font-size: 1.3rem;
}

.card-text p {
  font-weight: lighter;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.card-button {
  display: block;
  width: fit-content;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  position: absolute;
  bottom: 30px;
}

.center-aligned {
  left: 50%;
  margin-left: -20%;
}

.right-aligned {
  right: 20%;
}

.centered-text {
  text-align: center;
}

.green-title {
  color: var(--green-color);
}

.blue-title {
  color: var(--blue-color);
}

.gray-title {
  color: var(--gray-color);
}

.green-button {
  background-color: var(--green-color);
}

.blue-button {
  background-color: var(--blue-color);
}

.red-button {
  background-color: var(--red-color);
}

.white-button {
  color: var(--gray-color);
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
}

/* Section3 */

#services-header .background-image {
  /*margin: -5px -5px;*/
  color: white;
  background-image: url("../images/alex-trail-altrafpv-cMCVM48SYAE-unsplash.jpg");
  /*filter: blur(3px);*/
  /*-webkit-filter: blur(3px);*/
  height: 326px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#services-header .container {
  position: absolute;
  top: 2015px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 45%;
}

#services-header .container .header-title {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin: 20px;
}

#services-header .container .header-description {
  font-size: 1.1rem;
  line-height: 1.9rem;
}
