* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 78px;
  width: 100%;
  background-color: rgb(56,62,76);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-list {
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0px;
}

.nav-item {
  list-style: none;
  margin: auto;
  display: inline-block;
  padding: 10px 10px;
}

.nav-item a {
  padding: 15px 25px;
  border: 1px solid rgb(100,109,124);
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  vertical-align: center;
  line-height: 55px;
  font-size: 1.25rem;
}

.nav-item a:hover {
  background-color: rgb(73,80,95)
}

main {
  margin-top: 78px;
}

#section1 {
  height: 535px;
  overflow: hidden;
}

header .background-image {
  margin: -5px -5px;
  color: white;
  background-image: url("../images/sebastian-unrau-sp-p7uuT0tw-unsplash.jpg");
  filter: blur(3px);
  /*-webkit-filter: blur(3px);*/
  height: 545px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .container {
  position: absolute;
  top: calc(78px + 230px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

header .container .header-title {
  text-transform: uppercase;
  font-size: 4em;
  /*font-weight: 900;*/
}

header .container .header-description {
  text-transform: capitalize;
  font-size: 1.5em;
  /*font-weight: 100;*/
}
